body{
    font-family: Arial;
    margin:0;
    background:#f9f9f9;
}

header{
    background:red;
    color:white;
    padding:15px;
    display:flex;
    justify-content:space-between;
}

header a{
    color:white;
    text-decoration:none;
}

.container{
    display:flex;
    flex-wrap:wrap;
    padding:20px;
}

.card{
    width:260px;
    margin:10px;
    background:white;
    padding:10px;
    border-radius:8px;
}

.card video{
    width:100%;
}

h3{
    font-size:16px;
    color:black;
}
